@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #000;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-itmes {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: silver;
}

.nav-itmes li {
    cursor: pointer;
}

.menu-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin-top: 20px;
}

.hero-img img {
    width: 100%;
    border-radius: 6px;
}

.main-text {
    flex: 1;
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-content {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.hero-text-block {
    display: flex;
    flex: 1;
    gap: 30px;
}

.hero-summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-more {
    background-color: #f25d4d;
    color: white;
    border: none;
    width: 150px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.read-more:hover {
    background-color: #000;
}

.right-block {
    background-color: #00001a;
    color: white;
    padding: 24px;
    max-width: 460px;
    border-radius: 6px;
}

.right-title {
    color: #e9ab53;
    /* bright orange */
    font-size: 24px;
    margin-bottom: 20px;
}

.news-item {
    margin-bottom: 20px;
}

.news-item h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px;
}

.news-item p {
    font-size: 12px;
    color: #ccc;
    line-height: 1.4;
    padding: 5px;
}

.right-block hr {
    border: none;
    border-top: 2px solid #444;
    margin: 20px 0;
}

.second-section {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card {
    display: flex;
    gap: 10px;
    max-width: 30%;
}

.card-number {
    color: silver;
    font-weight: bold;
    margin: 2px;
}

.card img {
    width: 100px;
}

.card h3 {
    font-size: 14px;
    margin: 2px;
    font-weight: 800;
}

.card p {
    font-size: 14px;
    color: silver;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100vh;
        background: white;
        color: #00001a;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav.open {
        right: 0;
    }

    .nav-itmes {
        flex-direction: column;
        gap: 30px;
    }

    #menu-button {
        display: block;
    }

    #menu-close {
        display: block;
        margin-top: -100%;
        margin-bottom: 20px;
        color: #00001a;
        font-style: normal;
        font-size: 60px;
    }

    .main-container {
        grid-template-columns: 1fr;
    }

    .hero-summary {
        flex-direction: column;
    }

    .second-section {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        max-width: 100%;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-text-block {
        flex-direction: column;
    }
}